@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
/* line 2, ../sass/index.scss */
#intro {
  color: #ECF0F1;
}

/* line 5, ../sass/index.scss */
.page-header {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 5rem;
}

/* line 11, ../sass/index.scss */
.tabpanel .tab-pane ul li {
  font-size: 5rem;
}

/* line 15, ../sass/index.scss */
body > * {
  font-family: "Roboto";
  color: white;
}

/* line 19, ../sass/index.scss */
body {
  background-image: url("../img/space_eye.jpg");
  background-position: center;
  background-size: cover;
}
