@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

body>*{
	font-family: "Roboto";
}

td,
li,
footer {
	font-weight: 300;
}

footer {
	margin-bottom: 10px;
}

.table tr {
	$w: 85%;
	td:nth-child(1) {
		width: $w;
	}
	td:nth-child(2) {
		width: 100% - $w;
	}
}

li {
	list-style-type: none;
	a{
		color: grey;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
}