@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
#intro{
	color: #ECF0F1;
}
.page-header{
	font-family: "Roboto";
	font-weight: 900;
	font-size: 5rem;
}
.tabpanel .tab-pane{
	ul li{
		font-size: 5rem;
	}
}
body>*{
	font-family: "Roboto";
	color: white;
}
body{
	background-image: url("../img/space_eye.jpg");
	background-position: center;
	background-size: cover;
}