#intro{
	// font-size: 3em;
	text-align: center;
}
#gen{
	display: none;
}
#acknowledge a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 0.4em;
}
#lived a,
#education a{
	width: 100%;
	text-align: center;
}